.profile__content {
  width: 336px;
  display: grid;
  grid-template-areas:
  "title button"
  "subtitle .";
  grid-template-columns: repeat(2, minmax(min-content, max-content));;
  grid-column-gap: 18px;
  grid-row-gap: 16px;
  /* max-width: 880px; */
  margin: 0;
  justify-content: start;
  align-content: center;
  /* padding-right: 200px; */
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .profile__content {
  width: 255px;
  margin: auto;
  padding: 26px 0 54px 0;
  grid-template-columns: 24px minmax(min-content, max-content) minmax(min-content, max-content);
  grid-template-areas:
  ". title button"
  ". subtitle .";
  grid-column-gap: 10px;
  grid-row-gap: 14px;
  /* margin-right: 0; */

  }
}