.popup__close-button {
  background-image: url(../../../images/closeButton.svg);
  background-color: transparent;
  border: none;
  transform: rotate(-45deg);
  width: 40px;
  height: 40px;
  padding: 0;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    top: -45px;
    right: 0px;
    width: 26px;
    height: 26px;
  }
}