.profile__add-button {
  width: 150px;
  height: 50px;
  margin: 0;
  cursor: pointer;
  background-image: url(../../../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  padding: 0;
  opacity: 1.0;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    width: 88.125vw;
  }
}