.popup__save-button {
  background-color: #000;
  color: #fff;
  width: 100%;
  min-height: 50px;
  align-self: center;
  border: 0;
  margin: 48px auto auto auto;
  padding: 0;
}

.popup__save-button:hover {
  opacity: 0.8;
}