.card__like {
  box-sizing: border-box;
  background-image: url(../../../images/like.svg);
  background-size: cover;
  min-width: 21.76px;
  min-height: 18.13px;
  padding: 0;
}

.card__like:hover {
  opacity: 0.5;
}

.card__like:active {
  background-image: url(../../../images/likeActive.svg);
}