.card__trash {
  background-image: url(../../../images/trash.svg);
  min-width: 18px;
  min-height: 19px;
  position: absolute;
  top: 18px;
  right: 15px;
  box-sizing: border-box;
  background-size: cover;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__trash:hover {
  opacity: 0.6;
}