.header {
  display: flex;
  align-items: flex-start;
  margin: 45px auto 40px auto;
  max-width: 880px;
  min-height: 74px;
  border-bottom: 1px solid #545454;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .header {
    margin: 28px 0 32px 0;
    width: 100%;
    min-height: 56px;
  }
}